@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#buttonContainer, .buttonContainer {
    display: flex;
    justify-content: center;
}

#randomBtn,
#backBtn,
#toggleButton,
#forwardBtn,
#toggleRu,
.button {
    margin: 40px 20px;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid gray;
    cursor: pointer;
    color: rgb(32, 32, 32);
    font-size: 0.9rem;
    display: inline-block;
    transition: background-color 0.4s ease-in-out;
    background-color: transparent;
}

#randomBtn:hover,
#backBtn:hover,
#toggleButton:hover,
#forwardBtn:hover,
#toggleRu:hover,
.button:hover {
    color: black;
    background-color: #f4d1ae;
    box-shadow: 3px 3px 3px black;
}

#words {
    width: 1000px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    color: rgb(32, 32, 32);
    background-color: #f4edea;
    border: 10px solid #f4d1ae;
}

#words p,
#words h3 {
    margin-bottom: 20px;
    user-select: text;
}

.hidden, .nonVisible {
    display: none;
}

.visible {
    display: flex;
    margin-top: 40px;
}

.inputContainer {
    width: 900px;
    height: 200px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 50px 25px 50px;
    color: gray;
    background-color: #f4edea;
    border: 10px solid #f4d1ae;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    width: 100%;
    border : none;
    border-radius: 5px;
}

.button:hover {
    background-color: lightsteelblue;
    outline: none;
}

#wordForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
/* Эксперименты */
.searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px;
    margin: 40px;
    padding: 20px 50px;
    color: gray;
    background-color: #f4edea;
    border: 10px solid #f4d1ae;
}

.searchContainer input[type="text"] {
    width: 80%; /* Адаптируйте ширину по необходимости */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 0.9rem;
    border: 1px solid gray;
    background-color: #fff;
    transition: background-color 0.4s ease-in-out;
}
.searchContainer button {
    width: 40%; /* Адаптируйте ширину по необходимости */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 0.9rem;
    border: 1px solid gray;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.4s ease-in-out;
    color: black;
}
.searchContainer button:hover {
    color: black;
    background-color: #f4d1ae;
    box-shadow: 3px 3px 3px black;
}
